body{
    width: 100vh;
    height: 60px;
    margin: 10px;

    background: lightpink;
}

.h{

    width: 100%;
    display: flex;
    justify-content: center;

    background: white;
}

.seccion{
    display: flex;
    flex-direction: row;
    /*
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: row;

    align-items: center;
    align-content: center;*/
} 

.uno{
    display: flex;
    flex: 1 1 auto;
    height: 200px;
    justify-content: center;

    border: none;
    background: lightgreen;
}

.dos{
    
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    height: 200px;

    border: none;
    background: lightskyblue;
}

.tres{
    
    display: flex;
    flex: 1 1 auto;
    height: 200px;
    justify-content: center;

    border: none;
    background: lightgrey;
}

.f{ 
    width: 100%;

    display: flex;

    justify-content: center;
    
    border: none;

    background: burlywood
}

